@using APiProjetoFinal.Models;
@model IEnumerable<APiProjetoFinal.Models.Medicamento>

@{
    ViewData["Title"] = "Index";
    
}
<br />
<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
             <label>Medicamento</label>
            </th>
            <th>
                <span style="margin-right: 70px;"><label>Consumo</label></span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Medicamento item in ViewBag.Medicamento)
        {
            int qtdMedicamento = 0;
            @foreach (PacienteMedicamento pac in ViewBag.PacienteMedicamento)
            {
                if (pac.MedicamentoId == item.Id)
                {
                    qtdMedicamento++;

                }
            }
          <tr>
             <td>
                <label><strong>@item.Nome</strong></label>
            </td>
            
            <td>
               <label style="padding-left: 2vw;">@qtdMedicamento </label>  
            </td>
          </tr>
        }
    </tbody>
</table>
<br />
<br />

    <ul class="list-group">
    
        @foreach (Paciente paciente in ViewBag.Paciente)
        {
             int medicamentoConsumidos = 0;
             string medicamento = "";
          @foreach (PacienteMedicamento pacienteMedicamento in ViewBag.PacienteMedicamento)
            {
                @if(paciente.Id == pacienteMedicamento.PacienteId)
                {
                     medicamentoConsumidos++;
                      medicamento = pacienteMedicamento.Medicamento.Nome;
                 }
            }

           <li class="list-group-item d-flex justify-content-between align-items-center">
             @paciente.Nome
           </li>

           <li class="list-group-item d-flex justify-content-between align-items-center">
            @medicamento
             <span class="badge badge-primary badge-pill" style="color:red">@medicamentoConsumidos</span>
           </li>
        }
    </ul>

