@using APiProjetoFinal.Models;
@model IEnumerable<APiProjetoFinal.Models.Medicamento>

@{
    ViewData["Title"] = "Relatório";
    
}
<table id="example" class="table table-striped table-hover table-sm" style="width:100%">
    <thead>
        <tr>
            <th>
             <label>Medicamento</label>
            </th>
            <th>
                <span style="margin-right: 70px;"><label>Consumo</label></span>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Medicamento item in ViewBag.Medicamento)
        {
            int qtdMedicamento = 0;
            @foreach (PacienteMedicamento pac in ViewBag.PacienteMedicamento)
            {
                if (pac.MedicamentoId == item.Id)
                {
                    qtdMedicamento++;

                }
            }
          <tr>
             <td>
                <label><strong>@item.Nome</strong></label>
            </td>
            
            <td>
               <label style="padding-left: 2vw;">@qtdMedicamento </label>  
            </td>
          </tr>
        }
    </tbody>
</table>
<hr />
<br />
<br />

<table id="relatorio" class="table table-striped table-hover table-sm" style="width:100%">
    <thead>
        <tr>
            <th>
                <label>Paciente</label>
            </th>
            <th>
                <span style="margin-right: 70px;  padding-left: 7vw;""><label>CPF</label></span>
            </th>
            <th>
                <span style="margin-right: 70px;"><label>Medicação consumida</label></span>
            </th>

        </tr>
    </thead>
    <tbody>
        
         @foreach (Paciente paciente in ViewBag.Paciente)
         {
             int medicamentoConsumidos = 0;
             string medicamento = "";
            @foreach (PacienteMedicamento pacienteMedicamento in ViewBag.PacienteMedicamento)
            {
                @if(paciente.Id == pacienteMedicamento.PacienteId)
                {
                     medicamentoConsumidos++;
                      medicamento = pacienteMedicamento.Medicamento.Nome;
                }
            }

            <tr>
             <td>
                <label><strong>@paciente.Nome</strong></label>
            </td>
            <td>
                    <label style="padding-left: 5vw;"><strong>@paciente.CPF</strong></label>
            </td>
            <td>
               <label style="padding-left: 5vw;">@medicamentoConsumidos </label>
            </td>
          </tr>


         }
    </tbody>
  </table>
<style>
    .page-item.active .page-link {
        z-index: 1;
        color: #fff;
        background-color: black;
        border-color: black;
        border-radius: 3px;
    }
</style>