@model APiProjetoFinal.Models.PacienteMedicamento

@{
    ViewData["Title"] = "Editar";
}


<div class="row">
    <p style="text-align:center; padding-top:10px; text-decoration:underline; color:black;">Editar</p>
    <hr />
    <div class="col-md-4" style="margin:auto">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MedicamentoId" class="control-label">Medicamento</label>
                <select asp-for="MedicamentoId" class="form-control" asp-items="ViewBag.MedicamentoNome"></select>
            </div>
            <div class="form-group">
                <label asp-for="PacienteId" class="control-label">Paciente</label>
                <select asp-for="PacienteId" class="form-control" asp-items="ViewBag.PacienteNome"></select>
            </div>
            <div class="form-group">
                <label asp-for="Paciente.CPF" class="control-label"></label>
                <input type="text" asp-for="Paciente.CPF" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="HoraAplicacaoMedicamento" class="control-label">Data/Hora</label>
                <input asp-for="HoraAplicacaoMedicamento" class="form-control" />
                <span asp-validation-for="HoraAplicacaoMedicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="submit" value="Salvar" class="btn btn-dark" style="width:26vw" />
                <br />
                <br />
                <a asp-action="Index"><button type="button" class="btn btn-dark" style="width:26vw;">Voltar</button></a>
            </div>
        </form>

    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
